
@media (min-width: 576px) {
    .inicio {
        margin-left: 200px;
        margin-right: 200px;    
    }
    h2{
        font-size: 20px;
    }

    footer{
        color: #000000;   
    }

    .nosotros {
        p {
            padding: 30px;
            font-size: 30px;
        }
    }

    .servicios1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr;
        gap: 1rem;
        animation-duration: 4s;
        animation-name: ease-out;
    }
  

    .form-control {
    display: block;
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    } 

}

@media (min-width: 980px) {
    .servicios1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
      
    }
}
